# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs/02--Dasar-Dasar-Variabel/FileContentIndex/141244e2-3c73-476a-9063-6ccfb22f4007.vsidx
/.vs/02--Dasar-Dasar-Variabel/FileContentIndex/59c28dfd-be3e-461f-a77c-340f7788986c.vsidx
/.vs/02--Dasar-Dasar-Variabel/v17/Browse.VC.db
/.vs/02--Dasar-Dasar-Variabel/v17/Browse.VC.opendb
